.loginPage {
  background-image: url("/default/login-bg.png");
  display: flex;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  transform: scale(1.01);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(20%);
}

.loginWrapper {
  @apply shadow-2xl p-4 m-auto;
  height: fit-content;
  width: 550px;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  background: #fff;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-radius: 4px;
  z-index: 99999;
}

.loginLogo {
  max-width: 16rem;
}

.loginText h1 {
  @apply text-main;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  margin: auto;
  text-align: center;
}

.loginContact {
  @apply bg-sec shadow-md px-4 py-2;
  border-radius: 4px;
  width: 100%;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.infoLabel {
  @apply text-white;
}

.infoValue {
  @apply text-white break-words;
}

@media screen and (max-width: 768px) {
  .loginWrapper {
    width: 88vw;
  }

  .img {
    transform: translateY(0);
  }
}

@media screen and (max-width: 460px) {
  .loginContact {
    display: none;
  }
}
