.navWrapper {
  @apply shadow-lg bg-[#fff];
  width: 0px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  overflow: hidden auto;
  transform: translateX(-100%);
  /* width: 260px; */
  z-index: 99;
}

.menuWrapper {
  /* @apply border-b-2 border-sec; */
  padding: 6px 0 !important;
  /* padding-top: 10px !important; */
}

.navWrapperOpen {
  padding: 10px;
  transform: translateX(0%);
  width: 250px;
}

.navListContent,
.liMenuItem {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.navWrapperOpen .navListContent,
.navWrapperOpen .navListContent .liMenuItem {
  transform: translateX(0%);
  opacity: 1;
}

/* NEW CSS */

.mainTitle {
  @apply text-main;
  font-size: 14px;
  font-weight: bold;
}

.childLabel {
  @apply text-sec;
  font-size: 14px;
  padding: 6px !important;
  height: fit-content !important;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.childLabel i {
  /* @apply text-sec; */
  margin-right: 10px;
}

.childLabel span {
  line-height: initial !important;
}

.subMenuLabel i,
.subLabel i {
  margin-right: 10px;
  font-size: 10px;
}

.childLabel a,
.subLabel a {
  @apply !text-label;
}

.childLabel:hover a,
.subLabel:hover a {
  @apply !text-white;
}

.subLabelActive,
.childLabelActive {
  @apply bg-main;
}

.subLabelActive a,
.childLabelActive a {
  @apply !text-white;
}

@media screen and (max-width: 1200px) {
  .navWrapper {
    position: fixed;
    z-index: 999;
    overflow-y: auto;
    height: 100vh;
  }
}

/* OLD CSS */

/* .navIcon {
  @apply bg-main;
  top: 0;
  width: 40px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  padding-top: 15px;
  padding-left: 2px;
}

.icon {
  @apply text-white flex items-center justify-center;
  padding: 10px 0;
  margin-bottom: 6px;
  position: relative;

  cursor: pointer;
}

.icon i {
  transition: all 0.3s ease-in-out;
}

.icon::after {
  @apply bg-white;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  right: 0;
  left: auto;
  border-radius: 10px 0 0 10px;
  z-index: -1;
}

.icon:not(.iconActive):hover {
  @apply shadow-xl;
}

.icon:not(.iconActive):hover i {
  @apply text-sec;
  transform: scale(1.6);
}


.iconActiveHover i {
  @apply text-sec;
  transform: scale(1.6);
}

.iconActive::after {
  width: 100%;
}

.iconActive {
  @apply text-main;
}

.iconActive .iconBorder {
  @apply bg-white;
  right: 0px;
  z-index: 2;
}

.iconBorder {
  @apply bg-white;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 10px;
  height: calc(100% + 20px);
}

.iconBorder::after {
  @apply bg-main;
  content: "";
  position: absolute;
  width: 10px;
  left: 0;
  top: 0;
  height: 10px;
  border-bottom-right-radius: 20px;
}

.iconBorder::before {
  @apply bg-main;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  bottom: 0;
  border-top-right-radius: 20px;
}

.navListContent {
  @apply bg-white;
  width: calc(100% - 40px);
  position: relative;
  padding-top: 10px;
}

.liMenuItem {
  @apply text-main block;
  padding: 8px !important;
  margin: 8px !important;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
}

.liMenuItemActive,
.liMenuItem:hover {
  @apply bg-main text-white font-bold;
}

.PopoverliMenuItem {
  @apply text-white block;
  padding: 8px;
  margin: 4px 0;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.PopoverliMenuItem:hover {
  @apply bg-white text-main;
}

.PopoverliMenuItemActive {
  @apply bg-sec text-white;
}

.footInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footInfo .info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px 10px;
  border-radius: 4px;
}

.footInfo .tag {
  @apply text-blue;
  margin-right: 6px;
  font-size: 20px;
}

.footInfo .value {
  @apply text-blue;
  font-weight: 500;
  font-size: 16px;
}

.branch {
  padding: 4px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.branch .mainBranch {
  @apply text-sec;
  font-size: 16px;
  font-weight: bold;
}

.branch .subBranch {
  @apply text-sec;
  font-size: 12px;
  font-weight: bold;
} */
