@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-sec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-main;
}

.ant-skeleton.ant-skeleton-element.ant-skeleton-active {
  width: 100%;
}

#auth-link {
  transition: all 0.3s ease-in-out;
}

#auth-link.submit {
  pointer-events: none;
  opacity: 0.3;
}

.breadcrumb {
  font-size: 20px;
  margin: 10px 0;
  color: #3e3e44;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  width: min(1200px, 100%);
  margin: 0 auto;
  padding: 0 15px;
}

.component-container {
  width: min(1200px, 100%);
  margin: 0 auto;
  padding: 0 15px;
}

.app-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  @apply bg-white;
  overflow: hidden;
  height: calc(100vh - 88px);
}

.app-main-content {
  overflow: hidden auto;
}

.app-main {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.app-container {
  margin: 0 auto;
}

.app-main-inner {
  width: min(1200px, 100%);
  padding: 15px;
  margin: 0 auto;
  height: fit-content;
  min-height: calc(100vh - 112px);
  position: relative;
}

.menu-active {
  width: calc(100vw - 220px);
}


/* body.ant-scrolling-effect {
  touch-action: unset !important;
  width: auto !important;
  overflow: auto !important;
} */

.small_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.small_title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #f5851e;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.main_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

@media screen and (max-width: 860px) {
  .mainDes {
    font-size: 14px !important;
  }
}
