body {
  /* font-family: Roboto, sans-serif !important; */
  font-family: "Inter", sans-serif !important;
}

ul,
li {
  margin-bottom: 0 !important;
}

.orderProductItem {
  @apply bg-[#fff] py-4 px-4;
  border: 1px solid #20206766;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.orderProductItem .mainTitle {
  @apply block !text-black hover:!text-black text-lg font-bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .orderProductItemWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
  }

  .orderProductItem {
    @apply shadow-lg  col-span-1;
    /* width: calc(6/12 * 100% - 12px); */
    margin: 0;
    padding: 8px;
    border: 1px solid #efefef;
  }

  .orderProductTop {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .orderProductBottom {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .orderProductBottomPrice {
    width: 100%;
    margin: 0;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 580px) {
  .orderProductBottomPrice {
    flex-direction: column;
  }
}

.upload-avatar {
  @apply bg-main;
  position: absolute;
  bottom: 0px;
  width: 40px;
  border-radius: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.upload-avatar i {
  @apply text-[#fff];
  font-size: 20px !important;
}

.upload-avatar:hover {
  @apply shadow-lg;
  transform: scale(1.009);
}

@media screen and (max-width: 640px) {
  .upload-avatar {
    width: 30px;
    height: 30px;
  }

  .upload-avatar i {
    font-size: 14px !important;
  }
}

.table-preview {
  @apply border-collapse w-full;
}

.table-preview tr th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  text-align: center;
}

.table-preview tr td {
  padding: 8px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-width: 0;
}
