// ===== forgotPasswordForm =====
.authContainer {
  width: 100%;
  max-width: 100%;

  .heading {
    @apply text-main;
    font-size: 18px !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    height: fit-content;

  }

  .link {
    text-transform: uppercase;
    @apply text-sm;

    a {
      color: #333;

      &:hover {
        color: #f5851e !important;
      }
    }
  }
}
