.wrapperResizeImage {
  display: flex;
  flex-wrap: wrap;
}

.renderImageList {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.renderImageList img {
  width: 60px;
  /* height: 40px; */
  margin-right: 4px;
}

.img {
  flex: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}

.input {
  display: flex;
  padding: 4px 10px;
}

.input input {
  flex: 1;
  background: transparent;
}

