.navigation {
  @apply bg-main;
}

.userNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner {
  @apply text-white;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.inner:hover {
  @apply bg-sec;
}

.innerActive {
  @apply bg-sec;
}

.dropdown {
  /* @apply text-sec; */
  margin-left: 8px;
}

.PopoverliMenuItem {
  @apply text-white block;
  padding: 8px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.PopoverliMenuItem:hover {
  @apply bg-white text-main;
}

.PopoverliMenuItemActive {
  @apply bg-sec text-white;
}