.navigation {
  @apply bg-main;
}

.userNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liItem a {
  @apply text-white block;
  padding: 8px !important;
  line-height: initial;
  font-weight: 500;
  font-size: 16px;
}

.liItem a:hover {
  @apply !text-white;
}

/* .liItem i:first-child {
  margin-right: 10px;
} */

.liItemActive,
.liItem:hover {
  @apply bg-sec;
  transition: all 0.3s ease-in;
}

.liItemActive a {
  @apply text-white;
}

.dropdownIcon {
  margin-left: 10px;
}

.subMenu {
  @apply bg-main shadow-md;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

.subMenuActive {
  @apply bg-sec;
}

.subMenu a {
  padding: 12px;
  color: #fff;
  line-height: initial;
  font-weight: 500;
  font-size: 16px;
}

.subMenu a:hover {
  transition: all 0.3s ease-in;
  @apply bg-sec !text-white;
}
